body{
  background-color: pink;
}
#name{
  text-align: center;
  font-size: 45px;
  font-family: 'Redressed', cursive;

}
.first{
    background-color: rgb(201, 75, 201);
    text-align: center;
    height:120px;
}
.first h1{
    font-family: cursive ;
    font-size: 25px;;
    color: white;
}
#catalog{
color:white;
/*font*/
background-color: black;
border-width:5px;
border-color:black;
border-style:solid;
text-decoration: none;
}
#catalog:hover{
  color:black;
/*font*/
background-color: pink;
border-width:5px;
border-color:pink;
border-style:solid;
text-decoration: none;
animation-name:phone;
animation-duration:0.5s;
}
  @keyframes phone{
    100% {
     border-width: 10px;
    }
  }
#phone{
  background-color: transparent; 
  color: black; 
  text-decoration: none;
}
#phone:hover{
  color:black;
/*font*/
background-color: pink;
border-width:5px;
border-color:pink;
border-style:solid;
text-decoration: none;
animation-name:phone;
animation-duration:0.5s;
}
  @keyframes phone{
    100% {
     border-width: 10px;
    }
  }
figcaption{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: blue;
}
.boxx {
    background: pink;
    height: 100%;
    width:90%;
    display: flex;
    justify-content: space-evenly;
  

  }
  .box2 {
    background: rgb(228, 124, 228);
    box-shadow: 10px 10px 10px 0px grey;
    width: 20%;
    height: 50%;
    border: 5px solid black;
  }
  .box2:hover{
border:5px solid white;
animation-name:love;
    animation-duration:1s;

  }
  @keyframes love {
    100% {
      width:21%;
      
      
    }
  }
  .box2 figcaption{
    color: black;
    font-family: cursive;
    text-decoration: none;
    font-size: 17px;
  }
/*bracelts*/

  .inspect {
    text-align: center;
   font-weight: bold;
  }
  .error {
  
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 5px;
    margin: 5px;
  }
 #bag{
   float: right;
   background-color: transparent; 
   color: black; 
   border-style: none;
 }
 #bag a{
   text-decoration: none;
 }
 
 
@media (max-width:500px){
  .boxx {
    width:100%;
    justify-content:right;
  }
  .box2 {
    width: 32%;
    margin: 5px;
    border: 5px solid black;
  }
  .box2:hover{
    border:5px solid white;
    animation-name:love;
        animation-duration:1s;
    
      }
      @keyframes love {
        100% {
          width:35%;
          
          
        }
      }
}
